<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Add New Expenses</h1>
        <button class="button button-clear button-primary" ng-click="closeModalAddOutcome()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Text</span>
                <textarea placeholder="Description*" rows="4" ng-model="outcomeData.outcome_text" style="height: 60px;width: 64%;"></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input ng-model="outcomeData.outcome_amount" type="number">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Category</span>
                <select ng-model="outcomeData.outcome_category">
                    <option ng-repeat="category in categoriesSh" value="{{category.ID}}">{{category.name}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Economist</span>
                <select ng-model="outcomeData.outcome_economist">
                    <option ng-repeat="item in staff" value="{{item.ID}}">{{item.name}} {{item.surname}}</option>
                </select>
            </label>
            <button class="button button-full button-positive" ng-click="addOutcome(outcomeData)">Add</button>
        </div>
    </ion-content>
</ion-modal-view>