<ion-view view-title="Features">
    <ion-content has-header="true">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-repeat="item in items" href="{{item.url}}">
                <i class="icon {{item.icon}}"></i>
                {{item.title}}
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>
    </ion-content>

</ion-view>