<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <a class="item" href="#" ng-click="openModalAssignment()">
                Add Assignment
            </a>
            <a class="item" href="#/app/list-assignment" ng-click="closePopover()">
                Edit Assignment
            </a>
        </div>
    </ion-content>
</ion-popover-view>