<ion-view view-title="Economy">
    <ion-content class="post-content" padding="10">

        <div class="card economy-item assertive-border">
            <div class="item item-text-wrap economy">
                <h2 class="dark">Balanced</h2>
                <p>Confirmed: <em class="dark" style="font-weight: bold">{{ balance | number }}</em></p>
                <p>Unconfirmed: <em class="dark" style="font-weight: bold">{{ balance_debt | number }}</em></p>
                <i class="icon ion-social-usd dark"></i>
            </div>
        </div>
        <div class="card economy-item assertive-border">
            <div class="item item-text-wrap economy">
                <h2 class="dark">Income</h2>
                <p>Confirmed: <em class="dark" style="font-weight: bold">{{ income | number }}</em></p>
                <p>Unconfirmed: <em class="dark" style="font-weight: bold">{{ income_debt | number }}</em></p>
                <i class="icon ion-android-arrow-dropdown dark"></i>
            </div>
        </div>
        <div class="card economy-item assertive-border">
            <div class="item item-text-wrap economy">
                <h2 class="dark">Outcome</h2>
                <p>Confirmed: <em class="dark" style="font-weight: bold">{{ outcome | number }}</em></p>
                <p>Unconfirmed: <em class="dark" style="font-weight: bold">{{ outcome_debt | number }}</em></p>
                <i class="icon ion-android-arrow-dropup dark"></i>
            </div>
        </div>
        <div class="economy-action">
            <div class="">
                <a ng-href="#/app/income" class="button button-block button-positive icon-right ion-chevron-right">Income</a>
            </div>
            <div class="">
                <a ng-href="#/app/outcome" class="button button-block button-positive icon-right ion-chevron-right">Expense</a>
            </div>
        </div>
    </ion-content>
</ion-view>