.participation{
  &-item{
    background: $grey-part;
    padding: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    &--title{
      font-size: 16px;
      color: $blue-dark;
      font-weight: 600;
      padding-top: 3px;
      padding-bottom: 5px;
      span {
        float: right;
        font-weight: normal;
        font-size: 13px;
      }
    }
    &--points{
      font-size: 13px;
      color: $blue-part;
      padding-bottom: 5px;
      ul{
        width: 100%;
        border: 1px solid #e7ecf1;
        li {
          padding: 0;
          text-align: center;
          font-size: 14px;
          border-right: 1px solid #e7ecf1;
        }
        li:last-child {
          border-right: none;
        }
      }

    }
  }
  .border-left-green{
    border-left: $green-strong 4px solid;
  }
  .border-left-red{
    border-left: $red-soft 4px solid;
  }

  .controls{
    .controls-date{
      color: $blue-dark !important;
      margin-right: 12px;
      i{
        color: $blue-part !important;
        margin-right: 5px;
        font-size: 16px;
      }
    }
    &-total{
      font-weight: 600;
      padding: 5px;
      font-size: 15px!important;
      color: $white;
      text-shadow: none!important;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      min-width: 10px;
      line-height: 1;
      float: right;
      i{
        margin-right: 2px;
      }
      i.ion-thumbsdown{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);;
      }

    }
    &-total--red {
      background-color: $red-soft;
    }
    &-total--green {
      background-color: $green-strong;

    }
  }
}