.participation{
  padding: 0;
  .clock{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.result {
  &-points{
    border-top: 1px solid #e7ecf1;
    &--item{
      width: 25%;
      float: left;
      font-size: 14px;
      border-right: 1px solid #e7ecf1;
      &--right{
        display: inline-block;
        padding: 4px 10px 4px 10px;
        vertical-align: middle;
        text-align: center;
        float: left;
        span{
          color: $light;
          text-align: center;
        }
      }
      &--value{
        margin: 7px;
        line-height: 2;
      }
    }
    &--total{
      width: 25%;
      float: left;
      font-size: 14px;
      border-right: 1px solid #e7ecf1;
      i {
        font-size: 27px;
        padding: 8px;
      }
    }
  }
}


