<ion-view view-title="Quizzes">
    <ion-content class="post-content" padding="10">

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list card" ng-repeat="item in items track by item.ID">
            <div class="item">
                <h2>{{ item.title }}</h2>
                <p>Subject: {{ item.subject }}</p>
                <p>Active: {{ item.start_time }} {{ item.end_time}}</p>
                <p>By: {{ item.creator_name }} {{ item.creator_surname }}</p>
                <p>Year: {{ item.year }}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">

                <a ui-sref="app.participation({participationId: item.ID})" class="tab-item activated">
                    <i class="icon ion-clipboard"></i>
                    Participation
                </a>

                <a href="#/app/post" class="tab-item">
                    <i class="icon ion-stats-bars"></i>
                    Statistics
                </a>

            </div>
        </div>

        <ion-infinite-scroll
                ng-if="postsCompleted == false"
                on-infinite="getQuizzes()"
                distance="8%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>