<ion-view view-title="Participation">
    <ion-content class="post-content" padding="10">
        <div class="participation">

            <!--    Participation Item      -->
            <div ng-repeat="participation in items track by participation.id " class="participation-item border-left-red" >
                <div class="participation-item--title">

                    <span>
                        <i class="icon ion-ios-clock-outline"></i> 21 Sep 2014
                    </span>
                </div>

                <div class="participation-item--points">
                    <ul class="row">
                        <li class="col col-33">
                            <span>Right: </span>
                            50
                        </li>
                        <li class="col col-33">
                            <span>Empty: </span>
                            50
                        </li>
                        <li class="col col-33">
                            <span>Wrong: </span>
                            50
                        </li>
                    </ul>
                </div>

                <div class="controls">
                    <span class="controls-date">
                        <i class="icon ion-ios-calendar-outline"></i> 21 Sep 2014
                    </span>
                    <span class="controls-total controls-total--red">
                        <i class="icon ion-thumbsdown"></i>
                        78.90</span>
                </div>
            </div>

            <div class="participation-item border-left-green">
                <div class="participation-item--title">
                    Slider Redesign
                    <span>
                        <i class="icon ion-ios-clock-outline"></i> 21 Sep 2014
                    </span>
                </div>

                <div class="participation-item--points">
                    <ul class="row">
                        <li class="col col-33">
                            <span>Right: </span>
                            50
                        </li>
                        <li class="col col-33">
                            <span>Empty: </span>
                            50
                        </li>
                        <li class="col col-33">
                            <span>Wrong: </span>
                            50
                        </li>
                    </ul>
                </div>

                <div class="controls">
                    <span class="controls-date">
                        <i class="icon ion-ios-calendar-outline"></i> 21 Sep 2014
                    </span>
                    <span class="controls-total controls-total--green">
                        <i class="icon ion-thumbsup"></i>
                        78.90</span>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>