<ion-view view-title="Admin Income">
    <ul id="navs" ng-model="button" ng-click="addIncomeAdminModal()">
        <li><a href=""><i class="icon menu-icon"></i></a></li>
    </ul>
    <ion-content class="post-content" padding="10">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!--    Income List -->
        <ion-list class="card income assertive-border">
            <ion-item ng-repeat="list in incomeList | orderBy:'ID':true"
                      item="item"
                      ng-class="{1:'item-is-deleted'}[list.deleted]">
                <div>
                    <h2 class="dark">{{ list.text }}</h2>
                    <p>ID: <em class="positive">{{ list.ID }}</em></p>
                    <p>Category: <em class="positive">{{ list.catName }}</em></p>
                    <p>Economist: <em class="positive">{{ list.economist }}</em></p>
                    <p>Date: <em class="positive">{{ list.timestamp | date }}</em></p>
                    <div class="action">
                        <span class="income-price positive">{{ list.amount | number }} L</span>

                        <span class="balanced-bg income-proccessed" ng-if="list.confirmed == 1" ng-click="confirmIncome(list.ID, 0)">Confirmed</span>
                        <span class="assertive-bg income-proccessed" ng-if="list.confirmed == 0" ng-click="confirmIncome(list.ID, 1)">Unconfirmed</span>

                        <span class="balanced-bg income-confirmed"  disabled="disabled" ng-if="list.done == 1">Processed</span>
                        <span class="assertive-bg income-confirmed " disabled="disabled" ng-if="list.done == 0">Unprocessed</span>

                    </div>
                </div>
            </ion-item>
        </ion-list>
        <!--    End Income List -->
    </ion-content>

</ion-view>