<ion-view view-title="Dashboard">
   <ion-content class="post-content" padding="10">
	   <div class="card" ng-click="showActionsheet()">
		   <div class="item item-text-wrap">
			   Dashboard Page
		   </div>
	   </div>
   </ion-content>
</ion-view>