<ion-view view-title="Welcome" class="grey_bg">
	<ion-content has-header="true">
  		<ion-slide-box on-slide-changed="slideChanged(index)">
    		<ion-slide>
            <div class="intro-item">
              <img src="img/student.png">
            </div>
            <p>
                Student
            </p>
    		</ion-slide>
    		<ion-slide>
            <div class="intro-item">
              <img src="img/teacher.png">
            </div>
            <p>
              Teacher
            </p>
    		</ion-slide>
       	<ion-slide>
            <div class="intro-item">
              <img src="img/parents.png">
            </div>
            <p>
              Parents
            </p>
            <p>
            	<button ng-click="discardIntroPage();" class="button button-assertive">Continue to app</button>
         	</p>
    		</ion-slide>
  		</ion-slide-box>
  	</ion-content>
</ion-view>