<ion-view view-title="Login" class="grey_bg">
    <ion-content padding="10">
        <div class="list">
            <p class="form_logo">
                <img title="" alt="" src="img/logo_tok2.png" class="">
            </p>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="data.password">
            </label>
            <!--
            <a ng-href="#/app/forgot" class="button button-clear button-block button-assertive">
                 Forgot Password?
            </a>-->
            <button ng-click="doLogin(data);" class="button button-block button-assertive">
                LOGIN
            </button>
            <!--<button class="button button-clear button-block">
                Don't have an account?
            </button>
            <a ng-href="#/app/signup" class="button button-clear button-block button-assertive">
                Create Account
            </a>-->
        </div>

    </ion-content>
</ion-view>