<ion-view view-title="Features">
   <ion-content has-header="true">
      <div id="generate-menu" class="list">
        <a class="item item-icon-left item-icon-right" ng-repeat="item in menuItems">
          <i class="icon {{item.menu_icon}}" ></i>
          {{item.menu_name}}
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </div>
    </ion-content>
</ion-view>