<ion-view view-title="Me">
    <ion-content has-header="true">
        <div id="content">
            <div id="profile-info">
                <button ng-click="showActionUploadImage()" class="button button-icon ion-camera upload-img">
                </button>
                <img id="profile-image" ng-show="data.imgUrl === undefined" data-ng-src="{{photo}}"/>
                <img id="profile-image" ng-show="data.imgUrl !== undefined" data-ng-src="{{data.imgUrl}}"/>

                <h3 id="profile-name">{{ profileData.name }} {{ profileData.surname }}</h3>
                <span id="profile-description">
                     {{ profileData.title }}
                </span>
            </div>
        </div>
        <ion-list click-for-options-wrapper can-swipe="listCanSwipe">
            <ion-item click-for-options class="item buttonss item-icon-left item-icon-right">
                <i class="icon ion-ios-person"></i>
                {{ profileData.name }} {{ profileData.middle_name }} {{ profileData.surname }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your full name', 'multipleText', 'name', 'middle_name', 'surname', profileData.name, profileData.middle_name, profileData.surname)">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item class="item buttonss item-icon-left" ng-if="profileData.roleName">
                <i class="icon ion-briefcase"></i>
                {{ profileData.roleName }}
            </ion-item>
            <ion-item class="item item-icon-left" ng-if="profileData.title">
                <i class="icon ion-quote"></i>
                {{ profileData.title }}
            </ion-item>
            <ion-item click-for-options class="item item-icon-right">
                <i class="icon ion-ios-arrow-left"></i>
                Password
                <ion-option-button class="button-positive"
                                   ng-click="openModalPassword();">
                    Change password
                </ion-option-button>
            </ion-item>
            <ion-item class="item item-divider">
                About
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.gender === 'm'">
                <i class="icon ion-male"></i>

                Male
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Select your gender', 'radio', 'gender','', '','m','', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.gender === 'f'">
                <i class="icon ion-female"></i>
                Female
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Select your gender', 'radio', 'gender','', '','f','', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.birthday">
                <i class="icon ion-android-calendar"></i>
                {{ profileData.birthday }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your birthday', 'text', 'birthday', '', '', profileData.birthday, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.birth_place">
                <i class="icon ion-home"></i>
                {{ profileData.birth_place }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your birth place', 'text', 'birth_place', '', '', profileData.birth_place, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.CITIZENSHIP">
                <i class="icon ion-home"></i>
                {{ profileData.CITIZENSHIP }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your citizenship', 'text', 'CITIZENSHIP', '', '', profileData.CITIZENSHIP, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item class="item item-divider">
                Contact information
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.email">
                <i class="icon ion-email"></i>
                {{ profileData.email }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your email', 'text', 'email', '', '', profileData.email, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.mobile_phone">
                <i class="icon ion-ios-telephone"></i>
                {{ profileData.mobile_phone }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your mobile phone', 'text', 'mobile_phone', '', '', profileData.mobile_phone, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.home_phone">
                <i class="icon ion-ios-telephone"></i>
                {{ profileData.home_phone }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your home phone', 'text', 'home_phone', '', '', profileData.home_phone, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item  class="item item-divider" ng-if="profileData.education || profileData.university || profileData.faculty || profileData.department || profileData.graduation_year ">
                Education
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.education">
                <i class="icon ion-university"></i>
                {{ profileData.education }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your education', 'text', 'education', '', '', profileData.education, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.university">
                <i class="icon ion-university"></i>
                {{ profileData.university }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your university', 'text','university', '', '', profileData.university, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.faculty">
                <i class="icon ion-university"></i>
                {{ profileData.faculty }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your faculty', 'text', 'faculty', '', '', profileData.faculty, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.department">
                <i class="icon ion-university"></i>
                {{ profileData.department }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your department', 'text', 'department', '', '', profileData.department, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.graduation_year">
                <i class="icon ion-calendar"></i>
                {{ profileData.graduation_year }}
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your graduation year', 'text', 'graduation_year', '', '', profileData.graduation_year, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
            <ion-item  class="item item-divider">
                Address
            </ion-item>
            <ion-item click-for-options class="item item-icon-left item-icon-right" href="#" ng-if="profileData.residence">
                <i class="icon ion-map"></i>
                {{ profileData.residence }} Albania
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="profileData.role != 'student'" class="button-positive"
                                   ng-click="showPopup('Change your residence', 'text', 'residence', '', '', profileData.residence, '', '')">
                    Edit
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>