<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive" align-title="center">
            <ion-nav-back-button class="button-clear">
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-person-outline" menu-toggle="right">
                    {{profileNav}}
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <div class="main-sidebar-profile">
                <div class="profile-info">
                    <img id="profile-image" ng-src="{{$root.photo}}">
                    <a menu-close-keep-history href="#/app/profile" class="profile-name">{{ $root.profileData.name }} {{ $root.profileData.surname }}</a>
                </div>
            </div>
            <div id="generate-menu" class="list">
                <ion-list>
                    <ion-item menu-close-keep-history href="#/wordpress/blog" class="item-icon-left">
                        <i class="icon ion-social-wordpress" ></i>
                        WordPress Blog
                    </ion-item>
                    <div  ng-repeat="menu in menuItems">
                        <!--    Generate Menu   -->
                        <ion-item class="item-icon-left item-button-right" ng-class="{active: isGroupShown(menu)}">
                            <i class="icon {{menu.menu_icon}}" ></i>
                            <a href="#/app/{{menu.href}}" menu-close-keep-history class="row item-content" style="padding: 0;">{{menu.menu_name}}</a>
                            <button class="button icon-left button-clear button-dark" ng-click="toggleGroup(menu)" ng-if="menu.submenu">
                                <i class="icon"  ng-class="isGroupShown(menu) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                            </button>
                        </ion-item>
                        <ion-item ng-repeat="submenu in menu.submenu" href="#/app/{{submenu.href}}" menu-close-keep-history class="item-accordion item-icon-left"

                                  ng-show="isGroupShown(menu)">
                            {{submenu.menu_name}}
                        </ion-item>
                        <!--    End Menu    -->
                    </div>

                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu side="right">
        <ion-content class="grey_bg">
<!--            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>-->
            <ion-list>
                <ion-item menu-close-keep-history href="#/app/profile" class="item-icon-left">
                    <i class="icon ion-person"></i>
                    Profile
                </ion-item>
                <ion-item menu-close-keep-history href="#/app/settings" class="item-icon-left">
                    <i class="icon ion-ios-gear"></i>
                    Settings
                </ion-item>
                <!--<ion-item menu-close-keep-history href="'#/app/push" class="item-icon-left">
                    <i class="icon ion-ios-gear"></i>
                    Push
                </ion-item>-->
                <ion-item menu-close-keep-history ng-click="openModalConfirmLogout()" class="item-icon-left">
                    <i class="icon ion-log-out"></i>
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>