<ion-view view-title="Profile">
    <ion-content has-header="true">
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" ng-show="data.imgUrl === undefined" data-ng-src="{{photo}}"/>
                <h3 id="profile-name">{{ profileData.name }} {{ profileData.surname }}</h3>
                <span id="profile-description">
                     {{ profileData.title }}
                </span>
            </div>
        </div>
        <ion-list can-swipe="listCanSwipe">
            <ion-item  class="item buttonss item-icon-left">
                <i class="icon ion-ios-person"></i>
                {{ profileData.name }} {{ profileData.middle_name }} {{ profileData.surname }}
            </ion-item>
            <ion-item class="item buttonss item-icon-left" ng-if="profileData.roleName">
                <i class="icon ion-briefcase"></i>
                {{ profileData.roleName }}
            </ion-item>
            <ion-item class="item item-icon-left" ng-if="profileData.title">
                <i class="icon ion-quote"></i>
                {{ profileData.title }}
            </ion-item>
            <ion-item class="item item-divider">
                About
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.gender === 'm'">
                <i class="icon ion-male"></i>

                Male
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.gender === 'f'">
                <i class="icon ion-female"></i>
                Female
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.birthday">
                <i class="icon ion-android-calendar"></i>
                {{ profileData.birthday }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.birth_place">
                <i class="icon ion-home"></i>
                {{ profileData.birth_place }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.CITIZENSHIP">
                <i class="icon ion-home"></i>
                {{ profileData.CITIZENSHIP }}
            </ion-item>
            <ion-item class="item item-divider">
                Contact information
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.email">
                <i class="icon ion-email"></i>
                {{ profileData.email }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.mobile_phone">
                <i class="icon ion-ios-telephone"></i>
                {{ profileData.mobile_phone }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.home_phone">
                <i class="icon ion-ios-telephone"></i>
                {{ profileData.home_phone }}
            </ion-item>
            <ion-item  class="item item-divider" ng-if="profileData.education || profileData.university || profileData.faculty || profileData.department || profileData.graduation_year ">
                Education
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.education">
                <i class="icon ion-university"></i>
                {{ profileData.education }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.university">
                <i class="icon ion-university"></i>
                {{ profileData.university }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.faculty">
                <i class="icon ion-university"></i>
                {{ profileData.faculty }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.department">
                <i class="icon ion-university"></i>
                {{ profileData.department }}
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.graduation_year">
                <i class="icon ion-calendar"></i>
                {{ profileData.graduation_year }}
            </ion-item>
            <ion-item  class="item item-divider">
                Address
            </ion-item>
            <ion-item  class="item item-icon-left" href="#" ng-if="profileData.residence">
                <i class="icon ion-map"></i>
                {{ profileData.residence }} Albania
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>