<ion-side-menus enable-menu-with-back-views="false" ng-controller="WpCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" align-title="center">
      <ion-nav-back-button class="button-clear">
      	<img ng-src="img/logo.png" class="nav-logo"/>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuWorPress"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
  	 <ion-header-bar class="bar bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close-keep-history href="#/app/dashboard" class="item-icon-left">
        	<i class="icon ion-ios-home"></i>
          Back to Home
        </ion-item>
        <ion-item menu-close-keep-history href="#/wordpress/blog" class="item-icon-left">
        	<i class="icon ion-social-wordpress"></i>
          WordPress
        </ion-item>
        <ion-item menu-close-keep-history href="#/wordpress/tags" class="item-icon-left">
        	<i class="icon ion-ios-pricetags-outline"></i>
          Tags
        </ion-item>
        <ion-item menu-close-keep-history href="#/wordpress/categories" class="item-icon-left">
        	<i class="icon ion-ios-pricetag-outline"></i>
          Categories
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>