<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Add New Income</h1>
        <button class="button button-clear button-primary" ng-click="closeModalAddIncome()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Text</span>
                <textarea placeholder="Description*" rows="4" ng-model="incomeData.income_text" style="height: 60px;width: 64%;"></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Amount</span>
                <input ng-model="incomeData.income_amount" type="number">
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Category</span>
                <select ng-model="incomeData.income_category">
                    <option ng-repeat="category in categoriesTa" value="{{category.ID}}">{{category.name}}</option>
                </select>
            </label>
            <ion-checkbox ng-model="incomeData.income_processed" class="item-checkbox-right" style="white-space: normal;">
                Check this checkbox if you have already processed/done this transaction.
            </ion-checkbox>
            <button class="button button-full button-positive" ng-click="addIncome(incomeData)">Add</button>
        </div>
    </ion-content>
</ion-modal-view>