<div ng-if="data.type === 'multipleText'">
    <span class="input-label"></span>
    <input ng-model="data.inputValue" type="text">
    <span class="input-label"></span>
    <input ng-model="data.inputValue1" type="text">
    <span class="input-label"></span>
    <input ng-model="data.inputValue2" type="text">
</div>
<div ng-if="data.type === 'text'">
    <span class="input-label"></span>
    <input ng-model="data.inputValue" type="text" placeholder="{{label}}">
</div>
<div ng-if="data.type === 'date'">
    <span class="input-label"></span>
    <input ng-model="data.inputValue" type="date">
</div>
<div ng-if="data.type === 'radio'" class="list">
    <ion-radio ng-repeat="item in gender"
               ng-value="item.value"
               ng-model="data.setGender"
               ng-change="dataChange(item)"
               name="server-side">
        {{ item.text }}
    </ion-radio>
</div>
