<ion-view view-title="Edit Assignments">
<ion-content>

    <ion-list>
        <ion-item class="item item-divider" ng-if="assaignments != '' ">
            Nota
        </ion-item>
        <ion-item ng-repeat="assignment in assaignments" class="item item-icon-right">
            <div class="assignment-item" ng-if="assignment.active == 0">
                <h2 style="opacity: 0.3;">{{assignment.name}}</h2>
            </div>
            <div class="assignment-item" ng-if="assignment.active == 1">
                <i class="icon ion-compose" ng-click="openModalEditAssignment(assignment.ID)"></i>
                <h2>{{assignment.name}}</h2>
            </div>
        </ion-item>
        <ion-item class="item item-divider" ng-if="lassaignments != '' ">
            Linja
        </ion-item>
        <ion-item ng-repeat="lassignment in lassaignments" class="item item-icon-right">
            <div class="assignment-item" ng-if="lassignment.active == 0">
                <h2 style="opacity: 0.3;">{{lassignment.name}}</h2>
            </div>
            <div class="assignment-item" ng-if="lassignment.active == 1">
                <i class="icon ion-compose"  ng-click="openModalEditAssignment(lassignment.ID)"></i>
                <h2>{{lassignment.name}}</h2>
            </div>

        </ion-item>
    </ion-list>
</ion-content>
</ion-view>