<ion-view view-title="Edit Assignments (VCD)">
<ion-content>

    <ion-list>
        <ion-item class="item item-divider" ng-if="assaignments != '' ">
            Nota
        </ion-item>
        <ion-item ng-repeat="assignment in assaignments" class="item item-icon-right">
            <div class="assignment-item item-button-right" ng-if="assignment.active == 0 && assignment.nonactve_confirm == 0">
                <h2 style="opacity: 0.3;">{{assignment.name}}</h2>
                <button ng-click="confirmAssignmentDeletion(assignment.ID)" class="button button-positive custom-button-edit-marks" style="right: 60px;">
                    Confrim
                </button>
                <button ng-click="unConfirmAssignmentDeletion(lassignment.ID)" class="button button-assertive custom-button-edit-marks">
                    Deny
                </button>
            </div>
            <div class="assignment-item item-button-right" ng-if="assignment.active == 0 && assignment.nonactve_confirm == 1">
                <h2 style="opacity: 0.3;">{{assignment.name}}</h2>
            </div>
            <div class="assignment-item" ng-if="assignment.active == 1">
                <i class="icon ion-compose" ng-click="openModalEditVcdAssignment(assignment.ID)"></i>
                <h2>{{assignment.name}}</h2>
            </div>
        </ion-item>
        <ion-item class="item item-divider" ng-if="lassaignments != '' ">
            Linja
        </ion-item>
        <ion-item ng-repeat="lassignment in lassaignments" class="item item-icon-right">
            <div class="assignment-item item-button-right" ng-if="lassignment.active == 0 && lassignment.nonactve_confirm == 0">
                <h2 style="opacity: 0.3;">{{lassignment.name}}</h2>
                <button ng-click="confirmAssignmentDeletion(lassignment.ID)" class="button button-positive custom-button-edit-marks" style="right: 60px;">
                    Confrim
                </button>
                <button ng-click="unConfirmAssignmentDeletion(lassignment.ID)" class="button button-assertive custom-button-edit-marks">
                    Deny
                </button>
            </div>
            <div class="assignment-item item-button-right" ng-if="lassignment.active == 0 && lassignment.nonactve_confirm == 1">
                <h2 style="opacity: 0.3;">{{lassignment.name}}</h2>
            </div>
            <div class="assignment-item" ng-if="lassignment.active == 1">
                <i class="icon ion-compose"  ng-click="openModalEditVcdAssignment(lassignment.ID)"></i>
                <h2>{{lassignment.name}}</h2>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>