<ion-view view-title="Marks">
    <ion-header-bar class="bar-subheader select-class">
        <div class="list">
            <div class="item-input item-select">
                <div class="input-label">
                    Select classes
                </div>
                <select ng-model="classDefault"
                        ng-options="value.year+''+value.name for value in classes"
                        ng-change="getCourseData(classDefault)">
                </select>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="post-content">
        <!--    Show if there is not any assignment for this class  -->
        <div class="card" ng-show="assaignments=='' && lassaignments==''">
            <div class="item item-text-wrap">
                There is not any assignment for this class. Please click on + button to add new assignment.
            </div>
        </div>

        <ion-list click-for-options-wrapper can-swipe="listCanSwipe">
            <ion-item class="item buttonss " ng-repeat="course in courses" ng-href="#/app/marks/{{ course.clsID }}/{{ course.coursesID }}">
                {{ course.courseName }}
                <span class="badge badge-assertive" ng-show="course.notifications">{{ course.notifications }}</span>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>