<ion-view view-title="Marks Confirmation">
    <ul id="navs" ng-model="button" ng-click="popover.show($event)">
        <li><a href=""><i class="icon ion-camera menu-icon"></i></a></li>
    </ul>

    <ion-content class="post-content">
        <!--    Show if there is not any assignment for this class  -->
        <div class="card" ng-show="assaignments=='' && lassaignments==''">
            <div class="item item-text-wrap">
                There is not any assignment for this class. Please click on + button to add new assignment.
            </div>
        </div>
        <!--    Show Marks for each student on current class    -->
        <div id="marks" class="list card" ng-repeat="student in students" ng-if="assaignments!='' || lassaignments!=''">
            <div class="item student-name">
                <h2>{{ student.name }} {{ student.surname }}</h2>
                <p></p>
            </div>

            <div class="item item-body" ng-if="assaignments !='' || lassaignments !=''">
                <!--    Assignment list     -->
                <div class="list" ng-if="assaignments !=''" >
                    <div ng-if="$first">
                        <div class=" item item-input row item-icon-right assignment-confirm" ng-repeat="assaignment in assaignments" ng-class="{'vcd-inactive' : assaignment.active == 0}">
                            <button ng-if="assaignment.confirmed == 0"
                                    ng-click="confirmVcdAssignment(assaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="left: -2%;font-size: 25px;">
                            </button>
                            <button ng-if="assaignment.confirmed == 1"
                                    ng-click="unConfirmVcdAssignment(assaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="left: -2%;font-size: 25px;">
                            </button>
                            <label class="col-80">
                                {{ assaignment.name }}
                            </label>
                            <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" class="col marks" ng-class="{'vcd-background' : marks[student.ID][assaignment.ID].vd_mark == 1 || vd_mark}" disabled="disabled" ng-if="assaignment.active == 0" style="opacity: 0.3">
                            <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" ng-model-options='{ debounce: 1000 }' ng-change="updateVcdMarks(assaignment.ID, student.ID, marks[student.ID][assaignment.ID].mark)" class="col marks" ng-class="{'vcd-background' : marks[student.ID][assaignment.ID].vd_mark == 1 || vd_mark}"  ng-if="assaignment.active == 1">

                            <button ng-if="marks[student.ID][assaignment.ID].confirmed == 0"
                                    ng-click="confirmVcdMark(student.ID, assaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="right: 21%;font-size: 25px;">
                            </button>

                            <button ng-if="marks[student.ID][assaignment.ID].confirmed == 1"
                                    ng-click="unConfirmVcdMark(student.ID, assaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="right: 21%;font-size: 25px;">
                            </button>
                        </div>
                    </div>
                    <div ng-if="!$first">
                        <div class=" item item-input row item-icon-right assignment-confirm" ng-repeat="assaignment in assaignments" ng-class="{'vcd-inactive' : assaignment.active == 0}">
                            <label class="col-80">
                                {{ assaignment.name }}
                            </label>
                            <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" class="col marks" ng-class="{'vcd-background' : marks[student.ID][assaignment.ID].vd_mark == 1 || vd_mark}" disabled="disabled" ng-if="assaignment.active == 0" style="opacity: 0.3">
                            <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" ng-model-options='{ debounce: 1000 }' ng-change="updateVcdMarks(assaignment.ID, student.ID, marks[student.ID][assaignment.ID].mark)" class="col marks" ng-class="{'vcd-background' : marks[student.ID][assaignment.ID].vd_mark == 1 || vd_mark}"  ng-if="assaignment.active == 1">

                            <button ng-if="marks[student.ID][assaignment.ID].confirmed == 0"
                                    ng-click="confirmVcdMark(student.ID, assaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="right: 21%;font-size: 25px;">
                            </button>

                            <button ng-if="marks[student.ID][assaignment.ID].confirmed == 1"
                                    ng-click="unConfirmVcdMark(student.ID, assaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="right: 21%;font-size: 25px;">
                            </button>
                        </div>
                    </div>
                </div>
                <!--    End Assignment list     -->
                <!--    Lassignment List    -->
                <div class="list linja" ng-if="lassaignments !=''">
                    <div ng-if="$first">
                        <div class="item item-input row item-icon-right assignment-confirm" ng-repeat="lassaignment in lassaignments" ng-class="{'vcd-inactive' : lassaignment.active == 0}">
                            <button ng-if="lassaignment.confirmed == 0"
                                    ng-click="confirmVcdAssignment(lassaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="left: -2%;font-size: 25px;">
                            </button>
                            <button ng-if="lassaignment.confirmed == 1"
                                    ng-click="unConfirmVcdAssignment(lassaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="left: -2%;font-size: 25px;">
                            </button>
                            <label class="col-80 lassaignment-label">
                                {{ lassaignment.name }}
                            </label>
                            <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark" ng-class="{'vcd-background' : marks[student.ID][lassaignment.ID].vd_mark == 1 || vd_mark}" disabled="disabled" class="col marks" ng-if="lassaignment.active == 0" style="opacity: 0.3">
                            <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark" ng-model-options='{ debounce: 1000 }' ng-class="{'vcd-background' : marks[student.ID][lassaignment.ID].vd_mark == 1 || vd_mark}" ng-change="updateVcdMarks(lassaignment.ID, student.ID, marks[student.ID][lassaignment.ID].mark)"  class="col marks" ng-if="lassaignment.active == 1">
                            <button ng-if="marks[student.ID][lassaignment.ID].confirmed == 0"
                                    ng-click="confirmVcdMark(student.ID, lassaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="right: 21%;font-size: 25px;">
                            </button>
                            <button ng-if="marks[student.ID][lassaignment.ID].confirmed == 1"
                                    ng-click="unConfirmVcdMark(student.ID, lassaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="right: 21%;font-size: 25px;">
                            </button>
                        </div>
                    </div>
                    <div ng-if="!$first">
                        <div class="item item-input row item-icon-right assignment-confirm" ng-repeat="lassaignment in lassaignments" ng-class="{'vcd-inactive' : lassaignment.active == 0}">
                            <label class="col-80 lassaignment-label">
                                {{ lassaignment.name }}
                            </label>
                            <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark" ng-class="{'vcd-background' : marks[student.ID][lassaignment.ID].vd_mark == 1 || vd_mark}" disabled="disabled" class="col marks" ng-if="lassaignment.active == 0" style="opacity: 0.3">
                            <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark" ng-model-options='{ debounce: 1000 }' ng-class="{'vcd-background' : marks[student.ID][lassaignment.ID].vd_mark == 1 || vd_mark}" ng-change="updateVcdMarks(lassaignment.ID, student.ID, marks[student.ID][lassaignment.ID].mark)"  class="col marks" ng-if="lassaignment.active == 1">
                            <button ng-if="marks[student.ID][lassaignment.ID].confirmed == 0"
                                    ng-click="confirmVcdMark(student.ID, lassaignment.ID)"
                                    class="button button-icon icon ion-minus-circled assertive" style="right: 21%;font-size: 25px;">
                            </button>
                            <button ng-if="marks[student.ID][lassaignment.ID].confirmed == 1"
                                    ng-click="unConfirmVcdMark(student.ID, lassaignment.ID)"
                                    class="button button-icon icon ion-checkmark balanced" style="right: 21%;font-size: 25px;">
                            </button>
                        </div>
                    </div>
                </div>
                <!--    End Lassignment list    -->
            </div>
        </div>
        <!--    End Show Marks for each student on current class    -->
    </ion-content>

</ion-view>