<ion-view view-title="Marks">
    <ion-header-bar class="bar-subheader select-class">
        <div class="list">
            <div class="item-input item-select">
                <div class="input-label">
                    Select classes
                </div>
                <select ng-model="classDefault"
                        ng-options="value.year+''+value.name+'-'+value.courseName for value in classes"
                        ng-change="getClassData(classDefault)">
                </select>
            </div>
        </div>
    </ion-header-bar>
    <ul id="navs" ng-model="button" ng-click="popover.show($event)">
        <li><a href=""><i class="icon menu-icon"></i></a></li>
    </ul>

    <ion-content class="post-content">
        <!--    Show if there is not any assignment for this class  -->
        <div class="card" ng-show="assaignments=='' && lassaignments==''">
            <div class="item item-text-wrap">
                There is not any assignment for this class. Please click on + button to add new assignment.
            </div>
        </div>
        <!--    End Show block    -->

        <!--    Show Marks for each student on current class    -->
        <div id="marks" class="list card" ng-repeat="student in students" ng-if="assaignments!='' || lassaignments!=''">
            <div class="item student-name">
                <h2>{{ student.name }} {{ student.surname }}</h2>
                <p></p>
            </div>

            <div class="item item-body" ng-if="assaignments !='' || lassaignments !=''">
                <!--    Assignment list     -->
                <div class="list" ng-if="assaignments !=''" >

                    <label class="item item-input row" ng-repeat="assaignment in assaignments">
                        <span class="input-label col col-80 assignment-name" ng-if="assaignment.active == 0" style="opacity: 0.3">
                            <i ng-if="assaignment.confirmed == 0"
                               class="icon ion-alert-circled placeholder-icon not-confirmed-assignment">
                            </i>
                            {{ assaignment.name }}
                        </span>
                        <span class="input-label col col-80 assignment-name" ng-if="assaignment.active == 1">
                            <i ng-if="assaignment.confirmed == 0"
                               class="icon ion-alert-circled placeholder-icon not-confirmed-assignment">
                            </i>
                            {{ assaignment.name }}
                        </span>

                        <i ng-if="marks[student.ID][assaignment.ID].confirmed == 0" class="icon ion-alert-circled placeholder-icon not-confirmed-icon"></i>
                        <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" class="col marks" disabled="disabled" ng-if="assaignment.active == 0" style="opacity: 0.3">
                        <input type="text" ng-model="marks[student.ID][assaignment.ID].mark" class="col marks"  ng-if="assaignment.active == 1">
                    </label>
                </div>
                <!--    End Assignment list     -->
                <!--    Lassignment List    -->
                <div class="list linja" ng-if="lassaignments !=''">
                    <label class="item item-input row" ng-repeat="lassaignment in lassaignments">
                        <span class="input-label col col-80 assignment-name" ng-if="lassaignment.active == 0" style="opacity: 0.3">
                            <i ng-if="lassaignment.confirmed == 0"
                               class="icon ion-alert-circled placeholder-icon not-confirmed-assignment">
                            </i>
                            {{ lassaignment.name }}
                        </span>
                        <span class="input-label col col-80 assignment-name" ng-if="lassaignment.active == 1">
                            <i ng-if="lassaignment.confirmed == 0"
                               class="icon ion-alert-circled placeholder-icon not-confirmed-assignment">
                            </i>
                            {{ lassaignment.name }}
                        </span>

                        <i ng-if="marks[student.ID][lassaignment.ID].confirmed == 0" class="icon ion-alert-circled placeholder-icon not-confirmed-icon"></i>
                        <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark" disabled="disabled" class="col marks" ng-if="lassaignment.active == 0" style="opacity: 0.3">
                        <input type="text" ng-model="marks[student.ID][lassaignment.ID].mark"  class="col marks" ng-if="lassaignment.active == 1">
                    </label>
                </div>
                <!--    End Lassignment list    -->
            </div>
        </div>
        <!--    End Show Marks for each student on current class    -->

        <div class="padding" ng-show="assaignments!='' || lassaignments!=''">
            <button class="button button-block button-positive" ng-click="sendMarks(marks)">Save</button>
        </div>
    </ion-content>

</ion-view>