<ion-view view-title="Staff">
    <ion-content class="post-content">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe"
                  push-search>

            <ion-item>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" ng-model="filter.name" ng-change="search()" placeholder="Search">
                </label>
            </ion-item>

            <ion-item ng-repeat="item in items track by item.id" class="item-thumbnail-left item-avatar item-icon-right" href="#/app/view_profile/{{item.id}}/staff">

                <img ng-if="item.photo !=='0'" ng-src="{{path}}/data/stuff_portal/app_files/user_profile_pictures/{{item.photo}}" />
                <img ng-if="item.photo ==='0'" ng-src="img/student_default.png" />
                <h2>{{::item.name}} {{::item.surname}}</h2>
                <p>{{::item.username}}</p>
                <span class="ng-binding student-status balanced-bg" ng-if="item.status ==='full_time'">{{::item.status}}</span>
                <span class="ng-binding student-status assertive-bg" ng-if="item.status ==='left'">{{::item.status}}</span>
                <span class="ng-binding student-status energized-bg" ng-if="item.status ==='part_time'">{{::item.status}}</span>
                <div class="disable-user-bg" ng-if="item.active ==='0'"></div>
                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button ng-if="item.active ==='0'" class="button-positive"
                                   ng-click="activeStaff(item.id, 1)">
                    Enable
                </ion-option-button>
                <ion-option-button ng-if="item.active ==='1'" class="button-assertive"
                                   ng-click="activeStaff(item.id, 0)">
                    Disable
                </ion-option-button>
                <ion-option-button class="button-calm"
                                   ng-click="openModalStaffPassword(item.id)">
                    Change password
                </ion-option-button>
            </ion-item>

        </ion-list>

        <ion-infinite-scroll
                ng-if="postsCompleted == false"
                on-infinite="getStaffItem()"
                distance="8%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>