/* importing fonts */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Italic.ttf");
  font-style:italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-LightItalic.ttf");
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}
/* basic css reset */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea {
	font-family: 'Source Sans Pro', sans-serif;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%; height:auto;
}
.card {
	margin:10px !important;
}
.screen{
   position:relative;
 }
 .screen img{
   display: inherit;
 }
 .screen .item{
   position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background: rgba(255,255,255, 0.6);
 }
 .item-home{
 	padding:10px !important;
 }
 .screen h1{
 	color:#222;
	text-align:center;
 }
 /* Home feed page style */
 .item-home{
	 background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    background-size: 0 auto;
    border-color: #b2b2b2;
    border-style: solid;
    border-top: 1px solid #b2b2b2;
	  background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    border-color: #e42012;
    color: #fff;
 }
 .item-home .icon{
	 color:#fff;
 }
 .item-home h2{
	 color:#fff;
 }
 .grey_bg{
 	background:#263239;
 }
 /* logo styles */
.form_logo {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}
.form_logo img {
    display: inline-block;
    margin: auto;
    max-width: 50%;
}
.nav-logo{
	height:32px;
}
/* gallery styles */
.gallery-small{
	padding:0 !important;
	border:none !important;
}
.gallery-top{
	padding-top:5px !important;
}
/*full screen images*/
.transparent {
  background: #222 !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
/* video container */

.video-container {
	 height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-container iframe {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.post-content-home{
	margin-bottom:44px;
}
/* profile page */
#content {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:260px;
}

#profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    background-image: url(http://turgutozalcollege.com/data/stuff_portal/img/TOK_MOBILE_COVER.png);
    background-size: cover;
    background-repeat:no-repeat;

}
#profile-name {
    color: #FFF;
    font-size: 29px;
}
#profile-description {
  font-size: 15px;
  color: #fff;
}
#profile-description a {
  color: #fff;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* sidebar profile and image */
.main-sidebar-profile {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:200px;
}

.profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	 background-image:url(http://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s350-h300-c/cappadocia-805624_1280.jpg);
	 background-repeat:no-repeat;

}
.profile-name {
  color: #fff;
  font-size: 26px;
  margin-top:20px;
}
.profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* style slider */
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}
.slider p{
	margin-bottom:60px;
}

.message {
  font-size: 14px;

}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}
.disable-user-behavior {
    -moz-user-select: none;
}
.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  margin: 10px;
  max-width: 80%;
  min-width: 60%;
}


.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  text-align: left;
}
.chat-bubble a{
	text-decoration:underline;
}
.chat-bubble.right a{
	text-decoration:underline;
	color:#fff !important;
}
.chat-bubble.right {
  background-color: #ef473a;
  color: #fff;
  float: right;
  margin-right: 10px;
  text-align: right;
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}
img.profile-pic.left {
    left: -45px;
}
img.profile-pic {
    bottom: 10px;
    height: 40px;
    position: absolute;
    width: 40px;
}
.post-content-message{
	margin-bottom:58px;
}
.comment-stable-main {
    height: 48px;
}
.comment-form-main {
    margin: 0;
    padding: 0;
    width: 100%;
}
.row-comment {
    margin: 0 5px;
    padding: 0;
}
.small-font {
    font-size: 13px;
}
.comment-div-label {
    margin: 0 10px 0 0;
}
.comment-main-text {
    height: 22px;
}
.button-comment {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0;
    margin-top: 0 !important;
    width: 90% !important;
}
.post-wp img{
	max-width:100%;
	height:auto;
	margin:0px !important;
}
.post-wp iframe{
	width:100%;
	height:350px;
}
/* style products */
.product-section{
  margin:0 !important;
  width: 50%;
  float: left;
  padding: 10px;
}
.product-section .item-body{
  padding: 10px 0;
}
.product-section .item-body h2{
  margin-top:0px;
}
.big-price{
  font-size: 16px !important;
  font-weight: bold;
}


.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.intro-item {
    margin: 30px 0px;
}

.inside-content{
    position: absolute;
    top: 30%;
    text-align: center;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}
.inside-content h2{
    color: #ffffff;
    padding-bottom: 50px;
}
.button-transparent{
    border-color: #FFF;
    background-color: transparent;
    color: #fff;
}
.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .7;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.student-status {
    padding: 3px;
    font-size: 11px;
    color: #ffffff;
    border-radius: 3px;
}
.disable-user-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 11;
    opacity: 0.6;
    top: 0;
    left: 0;
}

.upload-img{
    position: absolute;
    top: 0;
    line-height: 1;
    min-height: 1px;
    right: 0;
    color: #ffffff;
    font-size: 40px;
}
#marks .list {
    margin-bottom: 0;
}
#marks .item.student-name{
    padding: 8px !important;
    background-color: rgba(169, 169, 169, 0.4) !important;
}
#marks .item.item-body{
    padding: 2px !important;
    border: 0;
}
#marks .item .linja{
    border-top: 1px solid;
    border-color: #ddd;
}
#marks .lassaignment-label{
    color: #6D72FF;
}
#marks .item.item-input{
    border: none;
    margin-bottom: 5px;
}
#marks .item .marks{
    float: right;
    padding-right: 0;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid #E4E4E4;
}
#marks .not-confirmed-icon{
    position: absolute;
    top: 4px;
    right: 8px;
    color: #F8C76B;;

}
#marks .not-confirmed-assignment{
    position: absolute;
    left: 0;
    color: #F8C76B;
}
#marks .assignment-name{
    padding-left: 20px;
}
.select-class{
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #ed1f24;
    border-top: 1px solid #D90308;
}

.select-class .list .item-select .input-label{
    color: #ffffff;
}

.select-class .list .item-select select{
    background: #ed1f24;
    color: #ffffff;
}

.select-class .list .item-select:after{
    color: #ffffff;
}

#navs {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    border: none;
    border-radius: 50%;
    z-index: 11;
}

#navs>li,
#navs:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #ef473a;
}

#navs>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#navs:after {
    font-family:"Ionicons";
    content:"\f218";
    /*content: attr(data-close);*/
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#navs.active:after {
    font-family:"Ionicons";
    content: "\f209";
}

#navs a {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}


#navs.active> li:nth-child(1) {
    transition-delay: 0ms;
    -webkit-transition-delay: 0ms;
    /*right: 120px;*/
    top: -55px
}

#navs.active> li:nth-child(2) {
    transition-delay: 50ms; -webkit-transition-delay: 50ms; top: -110px;
}
#navs.active> li:nth-child(3){
    transition-delay: 100ms; -webkit-transition-delay: 100ms; top: -165px;
}

#navs .icon.menu-icon{
    font-size: 20px;
}

.popover{
    height: 110px !important;
}

.item-checkbox-right .checkbox input,
.item-checkbox-right .checkbox-icon {
    float: right;
}

.item-checkbox.item-checkbox-right {
    /*the default item padding*/
    padding: 15px;
}
#generate-menu .item, #generate-menu .item a{
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
}
#generate-menu .item a{
    line-height: 46px;
}

.vcd-background{
    background-color: rgba(69, 139, 254, 0.4)!important;
}

.vcd-inactive{
    opacity: 0.3;
}

.custom-button-edit-marks{
    font-size: 13px!important;
    line-height: 1px!important;
    padding: 5px;
}

.assignment-confirm .button-icon.icon:before{
    font-size: 22px;
}
.assignment-confirm button.button-icon.icon{
    top: -3px;
}
.assignment-confirm label{
    padding-left: 33px;
}
.economy h2{
    font-size: 25px;
    padding-bottom: 10px;
}
.economy p{
    color: #8D949E;
    line-height: 15px;
    font-size: 17px;
}
.economy-item, .income{
    border-top: 3px solid #33cd5f;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.economy-item.assertive-border, .income.assertive-border{
    border-color: #EF473A;
}

.economy i.icon{
    position: absolute;
    right: 25px;
    top: 19px;
    font-size: 35px;
    opacity: .4;
}
.economy-action{
    margin-top: 26px;
}
.bar.bar-assertive {
    border-color: #ed0f13;
    background-color: #ed1f24;
    background-image: linear-gradient(0deg, #ed1f24, #ed1f24 50%, transparent 50%);
    color: #fff;
}
.item-content{
    padding: 10px;
}

.item-content span{
    white-space: normal;
}
.income{
    margin: 0 0 15px 0px !important;
}
.income-content{
    padding: 10px ;
}

.income h2{
    font-size: 16px;
    padding-bottom: 5px;
    width: 70%;
    white-space: normal;
}

.income-content p{
    font-size: 13px;
    line-height: 13px;
}
.income-price{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}

.income .action{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}
.income .action .delete-income{
    float: right;
    font-size: 26px;
}

.income .income-proccessed, .income .income-confirmed {
    color: #fff;
    padding: 3px 8px;
    min-width: 10px;
    vertical-align: -webkit-baseline-middle;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
}

.income .item .badge{
    position: relative;
    border-radius: 0;
}

.income .item .income-confirmed{
    opacity: 0.4;
}

.income .item-is-deleted{
    opacity: 0.6;
}

.item-is-deleted:before {
    content: "Deleted";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    z-index: 1;
    background: rgba(255,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 75px;
    font-weight: bold;
    color: #666;
}


.tabs{
    background-image: linear-gradient(0deg, #b2b2b2, #e4e3e3 50%, transparent 50%) !important;
}

.nomargin-left-right{
    margin-left: 0!important;
    margin-right: 0!important;
}

























