<ion-modal-view ng-controller="AddAssignmentCtrl">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Add New Assignment</h1>
        <button class="button button-clear button-primary" ng-click="closeModalAddAssignment()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name*</span>
                <input ng-model="assignmentData.name" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea placeholder="Description*" rows="4" ng-model="assignmentData.description" style="height: 60px;width: 64%;"></textarea>
            </label>
            <ion-checkbox ng-model="linje.checked"
                          ng-change="pushNotificationChange(linje)" class="item-checkbox-right">
                Linje ne Regjister
            </ion-checkbox>
            <button class="button button-full button-positive" ng-click="addAssignment(assignmentData)">Save</button>
        </div>
    </ion-content>
</ion-modal-view>