<ion-modal-view ng-controller="AddVcdAssignmentCtrl">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Add New Assignment (VCD)</h1>
        <button class="button button-clear button-primary" ng-click="closeModalVcdAddAssignment()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name*</span>
                <input ng-model="VcdAssignmentData.name" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea placeholder="Description*" rows="4" ng-model="VcdAssignmentData.description" style="height: 60px;width: 64%;"></textarea>
            </label>
            <button class="button button-full button-positive" ng-click="addVcdAssignment(VcdAssignmentData)">Save</button>
        </div>
    </ion-content>
</ion-modal-view>