<ion-modal-view ng-controller="ChangeStudentPasswordCtrl">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Change Student Password</h1>
        <button class="button button-clear button-primary" ng-click="closeModalStudentPassword()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">New password</span>
                <input ng-model="passwordData.new_password" type="password">
            </label>
            <button class="button button-full button-positive" ng-click="changeStudentPassword(passwordData)">Save</button>
        </div>
    </ion-content>
</ion-modal-view>