<ion-modal-view ng-controller="ChangePasswordCtrl">
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Change Password</h1>
        <button class="button button-clear button-primary" ng-click="closeModalPassword()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Old password</span>
                <input ng-model="passwordData.old_password" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">New password</span>
                <input ng-model="passwordData.new_password" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Repeat new password</span>
                <input ng-model="passwordData.retype_password" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="changePassword(passwordData)">Save</button>
        </div>
    </ion-content>
</ion-modal-view>