<div class="modal image-modal transparent" ng-controller="LogoutCtrl" ng-click="closeModalConfirmLogout()">
    <ion-pane class="transparent">
        <div class="inside-content">
            <h2>Are you sure you want to logout?</h2>
            <button class="button button-block button-assertive col-80 col-offset-10" ng-click="logout();">LOG OUT</button>
            <button class="button button-block button-transparent col-80 col-offset-10" ng-click="closeModalConfirmLogout();">CANCEL</button>
        </div>
    </ion-pane>
</div>
