<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Edit Assignment</h1>
        <button class="button button-clear button-primary" ng-click="closeModalEditAssignment()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name*</span>
                <input ng-model="name" type="text">
                <input ng-model="assignid" type="hidden">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea rows="4" ng-model="description" style="height: 40px;width: 64%;"></textarea>
            </label>
            <ion-checkbox ng-model="linje.checked" class="item-checkbox-right">
                Linje ne Regjister
            </ion-checkbox>
            <button class="button button-full button-positive" ng-click="editAssignment(name, description, linje.checked, assignid)">Save</button>
            <button class="button button-full button-assertive" ng-click="deleteAssignment(assignid)">Delete</button>
        </div>
    </ion-content>
</ion-modal-view>